<li class="node-description" data-node="<%= node_id %>" data-parent-id="<%= parent_id %>">
  <span><%= text %></span>
  <a href="#nogo" class="remove-assignment" data-node="<%= node_id %>" >
    <%= t :remove_assignment, :scope => [:digital_objects, :toc_index] %>
  </a>
</li>

